{% extends 'base.html' %}

{% block content %}

<h1>Add a song to {{ playlist.name }}</h1>

<form method="POST" action="{{ url_for('add_song_to_playlist', playlist_id=playlist.id) }}">
  {{ form.csrf_token }}

  <label for="song">Select Song:</label>
  <select id="song" name="song" required>
    {% for song_id, song_title in form.song.choices %}
      <option value="{{ song_id }}">{{ song_title }}</option>
    {% endfor %}
  </select>

  <input type="submit" value="Add Song">
</form>

{% endblock %}
